{% extends 'transfile/base.html' %}

{% load widget_tweaks %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    <input type="file" name="uploadedFile">
    {% csrf_token %}

    <!-- <div class="mb-3">
        {{ form.sentence|add_label_class:"form-label" }}
        {{ form.sentence|add_class:"form-control" }}
    </div> -->

    <button type="submit" value="Uploaad" class="btn btn-primary">翻訳（.docxファイル）</button>
</form>

<!-- {% for file in files %}
    {{ file.uploadedFile.url }}
{% endfor %} -->

{% if trans_result %}
<div class="alert alert-primary mt-3" role="alert">
    <!-- {{ trans_result }} -->
</div>
{% endif %}

{% endblock %}